$h1: 62px;
$h2: 42px;
$h3: 26px;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-special: 18px;

$color-gray: #9D9FA3;
$color-dark-gray: #666;
$color-light-gray: #999;
$color-middle-gray: #F5F5F8;

$color-white: #fff;

$color-blue: #267DF4;

$color-black: #26272D;

$color-green: #6FC754;