@import "variable.scss";
@import "button.scss";
@import "text-change.css";
@import "burger.css";
@import "header.css";
@import "hero.css";
@import "testimonials.css";
@import "promo.css";
@import "interface.css";
@import "feedback.css";
@import "plan.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px ;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.owl-stage {
    margin-bottom: 100px;
}

.top-burger-hidden {
    background-image: url(../img/background-1.png);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

hr {
    border: 1px solid #F4F4F4;
    border-bottom-width: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .top-burger-hidden {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .top-burger-hidden {
        margin-top: 0;
    }
}