@import url(/css/variable.css);
@import url(/css/button.css);
@import url(/css/text-change.css);
@import url(/css/burger.css);
@import url(/css/header.css);
@import url(/css/hero.css);
@import url(/css/testimonials.css);
@import url(/css/promo.css);
@import url(/css/interface.css);
@import url(/css/feedback.css);
@import url(/css/plan.css);
@import url(/css/footer.css);
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.owl-stage {
  margin-bottom: 100px; }

.top-burger-hidden {
  background-image: url(../img/background-1.png);
  background-size: cover;
  background-position: center;
  margin-top: 40px; }

hr {
  border: 1px solid #F4F4F4;
  border-bottom-width: 0; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-burger-hidden {
    margin-top: 0; } }

@media screen and (max-width: 767px) {
  .top-burger-hidden {
    margin-top: 0; } }
